.bannerImg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/1.jpg');
    height: 70vh;
}

.content{
    display: grid;
    width: 100%;
    height: 70vh;
    grid-template-columns: 50% 50%;
    align-content: center;
}

.firstHeader{
    font-size: 3.2rem;
    font-weight: bold;
    color: #dff1ff;
    /* text-transform: uppercase; */
}

.content p{
    font-size: 1.2rem;
    color: #bbe1ff;
    font-weight: 300;
    margin: 2.2rem 0;
}

.content .actionBanner{
    background-color: #9ab3d2;
    border-color: #9ab3d2;
    color: #002a49;
    font-weight: 600;
    padding: 10px 40px;
    font-size: 1.2rem;
    border-radius: 8px;

}

.section1{
    padding: 3rem 0;
    background-image: url('../assets/section-1.png');
    background-size: cover;
    /* background-position: center center; */
    background-repeat: no-repeat;
    /* height: 800px; */
}


.productHeader{
    color: #255981;
    font-weight: 600;
    font-size: 2.5rem;
}

h5{
    color: #4779a0;
    font-size: 1.2rem;
}

.products{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 3rem;
}

.productBody{
    position: relative;
    box-shadow: 0px 4px 5px #eee;
}

.productContent{
    padding: 5px 10px;
}

.productImg{
width: 100%;
height: 300px;
}

.productImg img{
    width: 100%;
    height: 100%;
}

.productTitle{
    margin: 1rem 0;
    font-size: 1.2rem;
    color: #255981;
    text-transform: capitalize;
    font-weight: bold;
}

.productPrice{
    font-size: 1.2rem;
    font-weight: bold;
    color: #002a49;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

}

.productPrice div{
    align-self:flex-end;
}

.productPrice .rating{
    font-size: 1.2rem;
}

.productPrice .rating1{
    font-size: 1rem;
}

 .productAction{
    position:absolute;
    top: 251px;
    left: 0;
    display:flex;
    justify-content:space-between;
    width:100%;
    background: rgba(0,0,0,0.4);
    display: none;
    transition: 0.5ms ease-in-out display;
}

.productBody:hover .productAction{
    display:flex;
}

.productAction button{
    color: #fff;
}

.mainImg{
    width: 100%;
    /* height: 100%; */
    border-radius: 20px;
}

.mainImg img{
    width: 100%;
    height:350px;
    border-radius: 20px;
}

.imagesGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px
}

.imagesGrid img{
    width: 100%;
    border-radius: 10px;
    height: 100px
}

.margin20{
    margin-top:20px !important;
}


.proflex{
    display:flex
}

.proflex2{
    display:flex;
    justify-content:space-between;
}

.proflex div{
    margin-right: 10px;
    align-self: center;
}

.headS{
    font-size: 1.2rem;
    font-weight:normal;
    margin-bottom: 10px;
}

.valueS{
    font-size: 1.2rem;
    font-weight:bold
}

.colorButton{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border-color: transparent;
   margin-right: 10px;
}

.qtyFlex{
    display: flex;
    margin: 1rem 0;
}

.qtyFlex button{
    background-color: #3d5a80;
    padding: 10px 22px;
    border-color: transparent;
    color: #fff;
    border-radius: 10px;
}

.qtyFlex p{
    font-size: 1rem;
    font-weight: bold;
    margin: 0 10px;
    align-self: center;
}

.desc{
    font-size: 0.9rem;
    line-height: 125%;
    color: #5e718a;
}

.proHeading{
    font-size: 1.5rem;
    font-weight: bold;
    color: #002a49;
    text-transform: capitalize;
    margin: 0;
}

.filterDiv{
    background-color: #fff;
    box-shadow: 0px 2px 5px #eee;
    border: 1px solid #4779a0;
    padding: 18px 20px;
    border-radius: 10px;
    margin: 1rem 0;
}

.catGrid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}




